[submodule "Eigen"]
	path = Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "GoogleTest"]
	path = GoogleTest
	url = https://github.com/google/googletest.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
